#PANDAS

In [2]:
import numpy as np

In [3]:
import pandas as pd

In [4]:
my_list=[1,2,3,4]

In [5]:
my_labels=['a','b','c','d']

In [6]:
np_arr=np.array([10,20,30,40])

In [7]:
my_labels

['a', 'b', 'c', 'd']

In [8]:
np_arr

array([10, 20, 30, 40])

In [9]:
my_dict={'a':10,'b':20,'c':30,'d':40}

In [10]:
my_dict

{'a': 10, 'b': 20, 'c': 30, 'd': 40}

In [11]:
pd.Series(data=my_list)

0    1
1    2
2    3
3    4
dtype: int64

In [12]:
pd.Series(data=my_list,index=my_labels
         )

a    1
b    2
c    3
d    4
dtype: int64

In [13]:
pd.Series(my_list,my_labels)

a    1
b    2
c    3
d    4
dtype: int64

In [14]:
pd.Series(my_dict)

a    10
b    20
c    30
d    40
dtype: int64

In [16]:
pd.Series([sum,len,print])

0      <built-in function sum>
1      <built-in function len>
2    <built-in function print>
dtype: object

In [17]:
ser1=pd.Series(my_list,my_labels)

In [18]:
ser1

a    1
b    2
c    3
d    4
dtype: int64

In [21]:
ser2=pd.Series([10,20,30,49],"a b c d".split())

In [22]:
ser2

a    10
b    20
c    30
d    49
dtype: int64

In [23]:
ser2['d']

49

In [24]:
ser1+ser2

a    11
b    22
c    33
d    53
dtype: int64

In [25]:
from numpy.random import randn
np.random.seed(43)

In [28]:
df=pd.DataFrame(randn(5,4),index="a b c d e".split(),columns="w x y z".split())

In [29]:
df

          w         x         y         z
a  0.014041 -0.160830  2.230360 -0.399116
b  0.054445  0.884182 -0.107981  0.555607
c  0.394907  0.837205 -1.407878  0.807849
d -0.138284  0.187179 -0.386658  1.659049
e -2.047069  1.399317 -0.679007  1.528985

In [34]:
df['z']

a   -0.399116
b    0.555607
c    0.807849
d    1.659049
e    1.528985
Name: z, dtype: float64

In [36]:
df['w']

a    0.014041
b    0.054445
c    0.394907
d   -0.138284
e   -2.047069
Name: w, dtype: float64

In [37]:
type(df['w'])

pandas.core.series.Series

In [42]:
df[['x','y','z']]

          x         y         z
a -0.160830  2.230360 -0.399116
b  0.884182 -0.107981  0.555607
c  0.837205 -1.407878  0.807849
d  0.187179 -0.386658  1.659049
e  1.399317 -0.679007  1.528985

In [43]:
df.x

a   -0.160830
b    0.884182
c    0.837205
d    0.187179
e    1.399317
Name: x, dtype: float64

In [44]:
df['y+z']=df['y']+df['z']

In [45]:
df

          w         x         y         z       y+z
a  0.014041 -0.160830  2.230360 -0.399116  1.831244
b  0.054445  0.884182 -0.107981  0.555607  0.447626
c  0.394907  0.837205 -1.407878  0.807849 -0.600029
d -0.138284  0.187179 -0.386658  1.659049  1.272391
e -2.047069  1.399317 -0.679007  1.528985  0.849978

In [46]:
df['y-z']=df['y']-df['z']

In [47]:
df

          w         x         y         z       y+z       y-z
a  0.014041 -0.160830  2.230360 -0.399116  1.831244  2.629475
b  0.054445  0.884182 -0.107981  0.555607  0.447626 -0.663588
c  0.394907  0.837205 -1.407878  0.807849 -0.600029 -2.215728
d -0.138284  0.187179 -0.386658  1.659049  1.272391 -2.045707
e -2.047069  1.399317 -0.679007  1.528985  0.849978 -2.207992

In [48]:
df.drop('y-z',axis=1)

          w         x         y         z       y+z
a  0.014041 -0.160830  2.230360 -0.399116  1.831244
b  0.054445  0.884182 -0.107981  0.555607  0.447626
c  0.394907  0.837205 -1.407878  0.807849 -0.600029
d -0.138284  0.187179 -0.386658  1.659049  1.272391
e -2.047069  1.399317 -0.679007  1.528985  0.849978

In [49]:
df

          w         x         y         z       y+z       y-z
a  0.014041 -0.160830  2.230360 -0.399116  1.831244  2.629475
b  0.054445  0.884182 -0.107981  0.555607  0.447626 -0.663588
c  0.394907  0.837205 -1.407878  0.807849 -0.600029 -2.215728
d -0.138284  0.187179 -0.386658  1.659049  1.272391 -2.045707
e -2.047069  1.399317 -0.679007  1.528985  0.849978 -2.207992

In [51]:
df.drop('y-z',axis=1,inplace=True)

In [52]:
df

          w         x         y         z       y+z
a  0.014041 -0.160830  2.230360 -0.399116  1.831244
b  0.054445  0.884182 -0.107981  0.555607  0.447626
c  0.394907  0.837205 -1.407878  0.807849 -0.600029
d -0.138284  0.187179 -0.386658  1.659049  1.272391
e -2.047069  1.399317 -0.679007  1.528985  0.849978

In [54]:
df.drop('e',axis=0,inplace=True)

In [55]:
df

          w         x         y         z       y+z
a  0.014041 -0.160830  2.230360 -0.399116  1.831244
b  0.054445  0.884182 -0.107981  0.555607  0.447626
c  0.394907  0.837205 -1.407878  0.807849 -0.600029
d -0.138284  0.187179 -0.386658  1.659049  1.272391

In [56]:
df['w']

a    0.014041
b    0.054445
c    0.394907
d   -0.138284
Name: w, dtype: float64

In [57]:
df.loc['a']

w      0.014041
x     -0.160830
y      2.230360
z     -0.399116
y+z    1.831244
Name: a, dtype: float64

In [58]:
df.iloc[0]

w      0.014041
x     -0.160830
y      2.230360
z     -0.399116
y+z    1.831244
Name: a, dtype: float64

In [60]:
df.iloc[2]

w      0.394907
x      0.837205
y     -1.407878
z      0.807849
y+z   -0.600029
Name: c, dtype: float64

In [61]:
df.loc['a','z']

-0.39911571852552363

In [62]:
df.loc[['a','b']]

          w         x         y         z       y+z
a  0.014041 -0.160830  2.230360 -0.399116  1.831244
b  0.054445  0.884182 -0.107981  0.555607  0.447626

In [63]:
df.loc[['a','b'],['x','y']]

          x         y
a -0.160830  2.230360
b  0.884182 -0.107981

In [64]:
df>0

       w      x      y      z    y+z
a   True  False   True  False   True
b   True   True  False   True   True
c   True   True  False   True  False
d  False   True  False   True   True

In [65]:
df>(df>0)

       w      x      y      z    y+z
a  False  False   True  False   True
b  False  False  False  False  False
c  False  False  False  False  False
d  False  False  False   True   True

In [66]:
df[df>0]

          w         x        y         z       y+z
a  0.014041       NaN  2.23036       NaN  1.831244
b  0.054445  0.884182      NaN  0.555607  0.447626
c  0.394907  0.837205      NaN  0.807849       NaN
d       NaN  0.187179      NaN  1.659049  1.272391

In [67]:
df

          w         x         y         z       y+z
a  0.014041 -0.160830  2.230360 -0.399116  1.831244
b  0.054445  0.884182 -0.107981  0.555607  0.447626
c  0.394907  0.837205 -1.407878  0.807849 -0.600029
d -0.138284  0.187179 -0.386658  1.659049  1.272391

In [69]:
df[df['w']<0]

          w         x         y         z       y+z
d -0.138284  0.187179 -0.386658  1.659049  1.272391

In [70]:
df[df['w']<0]['x']

d    0.187179
Name: x, dtype: float64

In [72]:
df[df['w']<0][['x','y']]

          x         y
d  0.187179 -0.386658

In [75]:
df[(df['w']<0) and (df['y']>0)]

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [77]:
df[(df['w']<0)&(df['y']<0)]

          w         x         y         z       y+z
d -0.138284  0.187179 -0.386658  1.659049  1.272391

In [79]:
df[(df['w']<0)|(df['x']>0)]

          w         x         y         z       y+z
b  0.054445  0.884182 -0.107981  0.555607  0.447626
c  0.394907  0.837205 -1.407878  0.807849 -0.600029
d -0.138284  0.187179 -0.386658  1.659049  1.272391

In [81]:
df.reset_index()

  index         w         x         y         z       y+z
0     a  0.014041 -0.160830  2.230360 -0.399116  1.831244
1     b  0.054445  0.884182 -0.107981  0.555607  0.447626
2     c  0.394907  0.837205 -1.407878  0.807849 -0.600029
3     d -0.138284  0.187179 -0.386658  1.659049  1.272391

In [83]:
df.reset_index().drop('index',axis=1)

          w         x         y         z       y+z
0  0.014041 -0.160830  2.230360 -0.399116  1.831244
1  0.054445  0.884182 -0.107981  0.555607  0.447626
2  0.394907  0.837205 -1.407878  0.807849 -0.600029
3 -0.138284  0.187179 -0.386658  1.659049  1.272391

In [84]:
df['Test']=[1,2,3,4]

In [85]:
df

          w         x         y         z       y+z  Test
a  0.014041 -0.160830  2.230360 -0.399116  1.831244     1
b  0.054445  0.884182 -0.107981  0.555607  0.447626     2
c  0.394907  0.837205 -1.407878  0.807849 -0.600029     3
d -0.138284  0.187179 -0.386658  1.659049  1.272391     4

In [89]:
df.set_index('Test')

             w         x         y         z       y+z
Test
1     0.014041 -0.160830  2.230360 -0.399116  1.831244
2     0.054445  0.884182 -0.107981  0.555607  0.447626
3     0.394907  0.837205 -1.407878  0.807849 -0.600029
4    -0.138284  0.187179 -0.386658  1.659049  1.272391

In [91]:
df['Test']

a    1
b    2
c    3
d    4
Name: Test, dtype: int64

In [92]:
df.loc[1]

TypeError: cannot do label indexing on <class 'pandas.core.indexes.base.Index'> with these indexers [1] of <class 'int'>

In [93]:
df

          w         x         y         z       y+z  Test
a  0.014041 -0.160830  2.230360 -0.399116  1.831244     1
b  0.054445  0.884182 -0.107981  0.555607  0.447626     2
c  0.394907  0.837205 -1.407878  0.807849 -0.600029     3
d -0.138284  0.187179 -0.386658  1.659049  1.272391     4

In [94]:
df=df.set_index('Test')

In [95]:
df

             w         x         y         z       y+z
Test
1     0.014041 -0.160830  2.230360 -0.399116  1.831244
2     0.054445  0.884182 -0.107981  0.555607  0.447626
3     0.394907  0.837205 -1.407878  0.807849 -0.600029
4    -0.138284  0.187179 -0.386658  1.659049  1.272391

In [96]:
df.loc[1]

w      0.014041
x     -0.160830
y      2.230360
z     -0.399116
y+z    1.831244
Name: 1, dtype: float64

In [97]:
df['index']=[0,1,2,3]

In [98]:
df

             w         x         y         z       y+z  index
Test
1     0.014041 -0.160830  2.230360 -0.399116  1.831244      0
2     0.054445  0.884182 -0.107981  0.555607  0.447626      1
3     0.394907  0.837205 -1.407878  0.807849 -0.600029      2
4    -0.138284  0.187179 -0.386658  1.659049  1.272391      3

In [101]:
df.set_index('index',inplace=True)

In [102]:
df

              w         x         y         z       y+z
index
0      0.014041 -0.160830  2.230360 -0.399116  1.831244
1      0.054445  0.884182 -0.107981  0.555607  0.447626
2      0.394907  0.837205 -1.407878  0.807849 -0.600029
3     -0.138284  0.187179 -0.386658  1.659049  1.272391

In [103]:
outside=['g1','g2','g2','g2','g3','g3']